@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

root{
    --primary: #f6226e;
}

body{
    font-family: 'poppins', sans-serif;
    background-color: black;
}

header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-around;
    padding:10px 60px;
    align-items: center;
}

.nav{
    display:flex;
}

.nav li{
    list-style: none;
    margin: 0 10px;
}

.nav li a {
    text-decoration: none;
    color:#ffffff;
    letter-spacing:1px;
    font-weight : 500;
    cursor: pointer;
    transition: 0.3s;
}

.nav li:hover a{
    color: #f6226e;
}

.logo{
    font-size: 35px;
    font-weight: 400;
    text-decoration:none;
    color:#ffffff;
}

.search{
    position: relative;
    width:300px;
    height:35px;
}

.search input{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background:transparent;
    border-radius:4px;
    padding: 0 10px 0 45px;
    backdrop-filter: blur(10px);
    color:#ffffff;
}

.search input::placeholder{
    color: #ffffff;
}

.search i{
    position:absolute;
    color:#ffffff;
    top:50%;
    transform:translateY(-50%);
    left:10px;
    padding-right:10px;
    border-right: 1px solid #ffffff;
}
